@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* ✅ استيراد الخط من Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ✅ تعريف الخط داخل @theme */
@theme {
  --font-sans: "Roboto", sans-serif;
}

